body {
  background-color: #EAEAEA !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(135deg, rgb(49, 65, 128) 0%, rgb(71, 171, 204) 69%) !important;
}

.ui.positive.button {
  background-color: rgb(29, 163, 29);
}

.ui.container {
  box-sizing: border-box;
}
